h1 {
    background-color: rgb(230, 32, 128);
    border-radius: 4.87px;
}

#emoji {
    font-size: 20px;
    background: none ;
    cursor: pointer;
    transition: transform 0.2;
}

.grid {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 534.569px;
    height: 417.3652px;
    border-radius: 2.65px;
    background-color: crimson;
}